.make-container
  .make-content
    .make-content__header
      %p 単語を登録
    .make-contet__form
      = form_tag('/words', method: :post) do
        .make-content__form__word
          %textarea#post_word{cols: "35", name: "word", placeholder: "単語", type: "text"}
        .make-content__form__mean
          %textarea#post_mean{cols: "35", name: "mean", placeholder: "意味", type: "text", rows: "8"}
        .make-content__form__submit
          %input{type: "submit", value:"作成する"}