.main-content{
  background-image: url(image-path('tech-expert.jpg'));
  background-size: cover;
  height: 730px;
  opacity: 0.6;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  .index-container{
    border-radius: 5px;
    width: 50%;
    padding-top: 30px;
    margin: auto;
    height: 650px;
    overflow: scroll;
    background-color: white;
    opacity: 0.8;
    .word-box{
      background-color:white;
      border: solid black;
      opacity:0.95;
      border-radius: 6px;
      margin: 10px 10px;
      &__menu{
        padding-right: 3px;
        list-style: none;
        display:flex;
        justify-content: flex-end;
        i {
          color: black;
        }
        .menu-btn{
          padding: 0 5px;
          text-decoration: none;
          color: black;
        }
      }
      &__word{
        padding:10px;
      }
      &__bottom{
        padding: 10px;
        &__mean {
          display: none;
          overflow: scroll;
          height: 100px;
        }
      }
    }
  }
}
